/* Sections
        * --------------------------------------- */

#section0 img,
#section1 img{
        margin: 20px 0 0 0;
}
#section2 img{
        margin: 20px 0 0 52px;
}

.intro p{
        width: 50%;
        font-size: 1.5em;
        margin: 30px auto !important;
        text-align: left;
}

#myVideo{
        position: absolute;
        right: 0;
        bottom: 0;
        top:0;
        right:0;
        width: 100%;
        height: 100%;
        background-size: 100% 100%;
        background-color: black; /* in case the video doesn't fit the whole page*/
        background-image: /* our video */;
        background-position: center center;
        background-size: contain;
        object-fit: cover; /*cover video background */
        z-index:3;
}

/* Layer with position absolute in order to have it over the video
* --------------------------------------- */
#section4 .layer{
        position: absolute;
        z-index: 4;
        width: 100%;
        left: 0;
        top: 43%;

        /*
        * Preventing flicker on some browsers
        * See http://stackoverflow.com/a/36671466/1081396  or issue #183
        */
        -webkit-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
}


/*solves problem with overflowing video in Mac with Chrome */
#section0{
        overflow: hidden;
}


/* Backgrounds will cover all the section
* --------------------------------------- */

#section2 {
        background-size: cover;
        background-attachment: fixed;
}

/* Defining each sectino background and styles
* --------------------------------------- */

#section2{
        background-image: url(imgs/rave.jpg);
        padding: 6% 0 0 0;
}
